@page "/counter"



    <div class="proyecto">
        <div class="titulo">Página Web</div>
        <div class="barra-progreso">
            <div class="progreso" style="width:70%; background-color: #4caf50;"></div>
        </div>
    </div>

    <div class="proyecto">
        <div class="titulo">Encuestas</div>
        <div class="barra-progreso">
            <div class="progreso" style="width:40%; background-color: #2196f3;"></div>
        </div>
    </div>



