@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Comenarios y observacioiones</PageTitle>

<h1>En cuanto veas esto, mandame whats para avanzar.</h1>
<p>
    Mi estimadísimo Erick, esto que está usted leyendo es algo importante para
    lo que hemos venido hablando, toda ves que si no te había mandado el link,
    es porque no habia podido publicar este proyecto en esta plataforma.
    No pienses que lo único que ves, son las únicas características que ya tengo programado
    para éste tipo de proyecto, este es solo el formato,
    al cual a traves de las reuniones que tengamos y a los acuerdos que lleguemos ya
    se lo vamos integrando.
    Chido chido chido... vamos hija... te toca el diseño.
</p>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
