@page "/"

@using Microsoft.AspNetCore.Components
@using System.Collections.Generic

<!-- Dashboard Component -->
<div class="container mt-5">
    <div class="row">
        <!-- Columna de Gráfico 1 -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Gráfico de Encuesta 1
                </div>
                <div class="card-body">
                    <!-- Marcador de posición para el gráfico -->
                    <div id="chart1" style="height: 300px;">
                        <!-- Aquí iría tu gráfico -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Columna de Gráfico 2 -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Gráfico de Encuesta 2
                </div>
                <div class="card-body">
                    <!-- Marcador de posición para el gráfico -->
                    <div id="chart2" style="height: 300px;">
                        <!-- Aquí iría tu gráfico -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Columna de Gráfico 3 -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Gráfico de Encuesta 3
                </div>
                <div class="card-body">
                    <!-- Marcador de posición para el gráfico -->
                    <div id="chart3" style="height: 300px;">
                        <!-- Aquí iría tu gráfico -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>