@code {
    private UserCredentials userCredentials = new UserCredentials();
    string Message = "Bienvenido...";
    private async Task HandleSubmit()
    {
        userCredentials.returnSecureToken = true;
        try
        {
            var uc = await isus.SignUpAsync(userCredentials);
            if (uc != null && !string.IsNullOrEmpty(uc.IdToken))
            {
                // Lógica para cuando el usuario se autentica correctamente.
                await ilis.SetLogIn(uc.IdToken);
                var currentPagePath = navMngr.ToBaseRelativePath(navMngr.Uri);
                Message = currentPagePath;
                await InvokeAsync(StateHasChanged);
                Console.WriteLine("ByREM => Don't do it's...");
                //navMngr.NavigateTo("/MakeMyMoney", false);
                //ITS.ShowSuccess($"El {uc.Email} está autenticado");
            }
            else
            {
                // Lógica para cuando la autenticación falla.
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
            await InvokeAsync(StateHasChanged);
            //navMngr.NavigateTo("/", false);
            //ITS.ShowError(ex.Message);
        }
    }

    // ... Resto del código ...
}

@inject NavigationManager navMngr
@page "/sign-up"
@using MakeMyMoney.MAADRESystem.Globals.Cntrlls;
@using MakeMyMoney.MAADRESystem.Globals.Interfaces;
@using MakeMyMoney.MAADRESystem.Globals.Models;


@inject IWebTokenRepository ITknRpostry
@inject ISignUpSrvc isus
@inject ILogInSrvc ilis

<AuthorizeView>
    <NotAuthorized>
        <div class="gov-card">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h3>Iniciar sesión</h3>
                        <form @onsubmit="HandleSubmit">
                            <div class="form-group">
                                <label for="email">Correo electrónico:</label>
                                <input type="email" class="form-control" id="email" @bind="userCredentials.email" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" @bind="userCredentials.password" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized Context="authorizedContext">
        <div class="css-sub-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        
                        <EditForm OnValidSubmit="HandleSubmit" Model="userCredentials">
                            <ChildContent Context="editFormContext">
                                <!-- el contenido del formulario va aquí -->
                                <header>
                                    <h3>
                                        Registro
                                        <em style="color: red;">
                                            @Message
                                        </em>
                                    </h3>
                                </header>
                                <div class="form-group">
                                    <label for="email">Correo electrónico:</label>
                                    <input type="email" class="form-control" id="email" @bind="userCredentials.email" required />
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" class="form-control" id="password" @bind="userCredentials.password" required />
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-primary float-end">Enviar</button>
                            </ChildContent>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>